*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#navbar{
    width: 100%;
    height: 100px;
    /* border: 1px solid red; */
    display: flex;
    color: white;
    position: fixed;
    top: 0%;
    z-index: 2;
}

#left{
    width: 23%;
    height: 100%;
    /* border: 1px solid blue; */
    background-color:#212121;
}

#left>img{
   width: 80px; 
   height: 45px;
   margin-left: 47%;
   margin-top: 8%;
   mix-blend-mode: color-dodge;
}

#right{
    width: 77%;
    height: 100%;
    /* border: 1px solid blue; */
    background-color:#212121;
}

#up{
    width: 100%;
    height: 40%;
    /* border: 1px solid green; */
    background-color: black;
    display: flex;
    font-size: 13px;
    font-weight: 600;
    align-items: center;
}

#up>p{
    margin-left: 20px;
}

#up>span{
    display: flex;
    margin-left: 37%;
    /* border: 1px solid yellowgreen; */
    width: 490px;
    justify-content: space-between;
}

#down{
    width: 100%;
    height: 60%;
    /* border: 1px solid green; */
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
}

#down>div:nth-child(1){
    display: flex;
    padding-left: 10px;
}

#down>div:nth-child(1)>i{
    margin-top: 6px;
    margin-left: 5px;
}

#down>div:nth-child(1):hover{
    width: 100px;
    height: 100%;
    background-color: white;
    color: black;
    align-items: center;
}

#down>div:nth-child(2){
    display: flex;
    margin-left: 30px;
    padding-left: 10px;
}

#down>div:nth-child(2)>i{
    margin-top: 6px;
    margin-left: 5px;
}

#down>div:nth-child(2):hover{
    width: 70px;
    height: 100%;
    background-color: white;
    color: black;
    align-items: center;
}

#down>div:nth-child(3){
    width: 655px;
    height: 40px;
    border: 1px solid rgb(97, 96, 96);
    background-color: rgb(97, 96, 96);
    border-radius: 5px;
    margin-left: 30px;
}

#down>div:nth-child(3)>i{
    margin-left: 15px;
    margin-top: 10px;
}

::placeholder{
  color: white;  
}

#down>div:nth-child(3)>input{
    margin-left: 15px;
    margin-top: 10px;
    font-size: 15px;
    color: white;
    background-color: rgb(97, 96, 96) ;
    outline: none;
    border: none;
}
#down>div:nth-child(4){
    /* border: 1px solid yellow; */
    width: 80px;
    display: flex;
    justify-content: space-between;
    margin-left: 20px; 
}

#down>div:nth-child(4)>i:hover{
 transform: scale(1.07);
 transition: 500ms;
}

#categories{
    position: relative;
}

#dropdown{
    /* display: none; */
    position: absolute;
    width: 1000px;
    /* height: 520px; */
    background-color: white;
    border: 1px solid black;
    color: black;
    display: flex;
}

#dropdown>div:nth-child(1)>div{
    display: flex;
    justify-content: space-between  ;
    /* border: 1px solid red; */
    width: 250px;
    height: 56px;
    align-items: center;
    border-bottom: 1px solid rgb(223, 218, 218);
    margin-left: 10px;
    margin-right: 10px;
    font-size: 15px;
    color: grey;
    font-weight: 600;
}

#dropdown>div:nth-child(1)>div:hover{
    color: black;
}

#dropdown>div:nth-child(1)>div:last-child{
    border-bottom: none;
}

#dropdown>div:nth-child(2){
    width: 750px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    color: grey;
    line-height: 30px;
    margin-left: 15px;
    margin-top: 10px;
}

#dropdown>div:nth-child(2)>div{
    width: 24%;
    /* border: 1px solid red; */
    margin-right: 7px;
}

#dropdown>div:nth-child(2)>div>h4{
    color: black;
}

#dropdown>div:nth-child(2)>div>p:hover{
    color: red;
}

#dropmen{
    display: none;
    position: absolute;
    left: 610px;
    width: 720px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    color: grey;
    line-height: 30px;
    margin-left: 20px;
    margin-top: 10px;
    background-color: white;
}

#dropmen>div{
    width: 24%;
    /* border: 1px solid red; */
    margin-right: 7px;
}

#dropmen>div>h4{
    color: black;
}

#dropmen>div>p:hover{
    color: red;
}






    

