*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#menzo{
    margin-top: 62px;
    width: 82%;
    color: black;
    /* border: 2px solid red; */
   margin-left:9%;
}

#allone{
    width: 100%;
    height: 70px;
    /* border: 1px solid blue; */
    text-align: center;
    padding-top: 30px;
}

#allone>p:nth-child(1){
font-size: 31px;
font-weight: 600;
}

#allone>p:nth-child(2){
    font-size: 14px;
    margin-top: 5px;
}

#alltwo{
    width: 100%;
    height: 50px;
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    margin-top: 30px;  
}

#alltwo>div{
    border: 1px solid rgb(180, 176, 176);
    height: 40px;
    font-size: 15px;
    margin-left: 70%;
    padding: 5px 10px;
}

#alltwo>div>span:nth-child(1){
    color: grey;
}

#alltwo>div>span>select{
    border: none;
    outline: none;
    font-size: 15px;
    width: 230px;
    margin-left: 5px;
}
#alltwo>div>span>i{
    color: grey;
}

#alltwo>span>img{
    margin-left: 10px;
    margin-top: 5px;
}



#allleft{
    width: 20%;
    border: 2px solid rgb(238,238,241);
    font-size: 13.5px;
    line-height:28px;
}

#allleft>div{
    margin-left: 20px;
    margin-top: 15px;
}

#allleft>div>div{
    border-bottom: 2px solid rgb(238,238,241);
    margin-top: 10px;
    padding-bottom: 10px;
}


#b{
    background-color: black;
}

#bl{
    background-color: blue;
}

#w{
    background-color: white;
}

#nb{
    background-color: navy;
}

#g{
    background-color: green;
}

#gy{
    background-color: grey;
}

#r{
    background-color: red;
}

#allleft>div:nth-child(1)>div:nth-child(4)>div{
    display: flex;
}

.textcolor{
    color: #94969f;
    font-size: 11px;
    margin-left: 4px;
}

.bgcl{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 5px 5px;
}



#allbody{
display: flex;
}

#allright{
    width: 80%;
    /* border: 1px solid blue; */
    display: flex;
    flex-wrap: wrap;
}

#allright>div{
    position: relative;
    border: 1px solid rgb(220, 215, 215); 
    margin-top: 20px;
    height: 400px;
    width: 23%;
    margin-left: 18px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}


#like{
    position: absolute;
    left: 183px;
    top:10px;
    background-size: contain;
}

#like>img{
    width: 100%;
    height: 100%;
   
}

#similar{
    position: absolute;
    background-size: auto 24px;
    left: 183px;
    top:240px;
}

#similar>img{
    width: 100%;
    height: 100%;
}

#allright>div:hover{
 transform: scale(1.04);
 transition: 500ms;
}

#allright>div>div:nth-child(1){
    width: 100%;
    height: 280px;
}

#allright>div>div:nth-child(1)>img{
    width: 100%;
    height: 100%;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

#allright>div>div:nth-child(2){
    margin-left: 5px;
    margin-top: 7px;
}

#allright>div>div:nth-child(2)>p:nth-child(1){
    font-size: 17px;
    font-weight: 600;
}

#allright>div>div:nth-child(2)>p:nth-child(2){
    font-size: 15px;
    color: rgb(51, 51, 51);
}

#allright>div>div:nth-child(2)>span:nth-child(3){
    font-size: 15px;
    font-weight: 600;
    margin-top: 5px;
}

#allright>div>div:nth-child(2)>span:nth-child(4){
    font-size: 13px;
    color: grey;
    margin-top: 5px;
    margin-left: 10px;
}

#allright>div>div:nth-child(2)>div{
    display: flex;
    margin-top: 10px;
}

#allright>div>div:nth-child(2)>div>span:nth-child(1){
    display: flex;
    border: 1px solid grey;
    width: 45px;
    border-radius: 50px;
    padding-left: 4px;
    font-size: 15px;
}

#allright>div>div:nth-child(2)>div>span:nth-child(1)>i{
    margin-top: 10px;
    margin-left: 3px;
    color: rgb(2, 110, 2);
}

#allright>div>div:nth-child(2)>div>span:nth-child(2){
    margin-left: 10px;
    font-size: 14px;
    color: grey;
}

#allright>div>div:nth-child(2)>p:nth-child(6){
    font-size: 14px;
    color: rgb(203, 7, 7);
    margin-top: 10px;
}




