
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#menz{
    margin-top: 100px;
    width: 78%;
    color: black;
    /* border: 2px solid red; */
   margin-left: 11%;
}

#one{
    width: 100%;
    height: 70px;
    /* border: 1px solid blue; */
    text-align: center;
    padding-top: 30px;
}

#one>p:nth-child(1){
font-size: 31px;
font-weight: 600;
}

#one>p:nth-child(2){
    font-size: 14px;
    margin-top: 5px;
}

#two{
    width: 100%;
    height: 50px;
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    margin-top: 30px;  
}

#two>div{
    border: 1px solid rgb(180, 176, 176);
    height: 40px;
    font-size: 15px;
    margin-left: 70%;
    padding: 5px 10px;
}

#two>div>span:nth-child(1){
    color: grey;
}

#two>div>span>select{
    border: none;
    outline: none;
    font-size: 15px;
    width: 230px;
    margin-left: 5px;
}
#two>div>span>i{
    color: grey;
}

#two>span>img{
    margin-left: 10px;
    margin-top: 5px;
}



#mensleft{
    width: 23%;
    border: 1px solid rgb(220, 215, 215);
    margin-top: 20px;
    border-radius: 10px;
}

#mensleft>div:nth-child(1){
    display: flex;
    justify-content: space-between;
   margin: 5px 5px 0 5px;
   padding: 15px;
    font-weight: 700;
    border-bottom: 1px solid rgb(212, 209, 209);
}

#mensleft>div:nth-child(1)>p:nth-child(1){
    font-size: 17px;
}

#mensleft>div:nth-child(1)>p:nth-child(2){
    font-size: 14px;
    color: #da1c5c;
}

#mensleft>div:nth-child(2){
    margin: 5px 5px 0 5px;
   padding: 15px;
    border-bottom: 1px solid rgb(212, 209, 209);
}

#mensleft>div:nth-child(2)>p:nth-child(1){
    font-size:14px ;
    font-weight: 600;
}

#mensleft>div:nth-child(2)>p:nth-child(2){
    font-size:14px ;
   border: 1px solid grey;
   width: 100px;
   padding: 3px 3px;
   border-radius: 50px;
   margin-top: 15px;
   color: darkslategrey;
   background-color: rgb(212, 209, 209);
}

#mensleft>div:nth-child(3){
    margin: 5px 5px 0 5px;
   padding: 15px;
    border-bottom: 1px solid rgb(212, 209, 209);
}

#mensleft>div:nth-child(3)>p{
    font-size:14px ;
    font-weight: 600;
}

#mensleft>div:nth-child(3)>span{
    display: flex;
    color: darkslategrey;
    background-color: rgb(212, 209, 209);
    border-radius: 50px;
    border: 1px solid grey;
   width: 110px;
   padding: 3px 3px;
   font-size:14px ;
   margin-top: 15px;
}

#mensleft>div:nth-child(3)>span>i{
    margin-top: 4px;
    margin-left: 7px;
}

#mensleft>div:nth-child(4)>div{
    display: flex;
    margin: 5px 5px 0 5px;
    padding: 15px;
    border-bottom: 1px solid rgb(212, 209, 209);
}

#mensleft>div:nth-child(4)>div>p{
    /* border: 1px solid red; */
    width: 100px;
    font-size:14px ;
    font-weight: 600;
}

#mensleft>div:nth-child(4)>div>i{
    margin-left: 120px;
    color: rgb(172, 169, 169);
}

#body{
display: flex;
}

#mensright{
    width: 77%;
    /* border: 1px solid blue; */
    display: flex;
    flex-wrap: wrap;
}

#mensright>div{
    position: relative;
    border: 1px solid rgb(220, 215, 215); 
    margin-top: 20px;
    height: 460px;
    width: 23%;
    margin-left: 18px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

#like{
    position: absolute;
    left: 173px;
    top:10px;
    background-size: contain;
}

#like>img{
    width: 100%;
    height: 100%;
   
}

#similar{
    position: absolute;
    background-size: auto 24px;
    left: 173px;
    top:240px;
}

#similar>img{
    width: 100%;
    height: 100%;
}

#mensright>div:hover{
 transform: scale(1.04);
 transition: 500ms;
}

#mensright>div>div{
    width: 100%;
    height: 280px;
}

#mensright>div>div>img{
    width: 100%;
    height: 100%;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

#mensright>div>div:nth-child(2){
    margin-left: 5px;
    margin-top: 7px;
}

#mensright>div>div:nth-child(2)>p:nth-child(1){
    font-size: 17px;
    font-weight: 600;
}

#mensright>div>div:nth-child(2)>p:nth-child(2){
    font-size: 15px;
    color: rgb(51, 51, 51);
}

#mensright>div>div:nth-child(2)>span:nth-child(3){
    font-size: 15px;
    font-weight: 600;
    margin-top: 5px;
}

#mensright>div>div:nth-child(2)>span:nth-child(4){
    font-size: 13px;
    color: grey;
    margin-top: 5px;
    margin-left: 10px;
}

#mensright>div>div:nth-child(2)>div{
    display: flex;
    margin-top: 10px;
}

#mensright>div>div:nth-child(2)>div>span:nth-child(1){
    display: flex;
    border: 1px solid grey;
    width: 45px;
    border-radius: 50px;
    padding-left: 4px;
    font-size: 15px;
}

#mensright>div>div:nth-child(2)>div>span:nth-child(1)>i{
    margin-top: 10px;
    margin-left: 3px;
    color: rgb(2, 110, 2);
}

#mensright>div>div:nth-child(2)>div>span:nth-child(2){
    margin-left: 10px;
    font-size: 14px;
    color: grey;
}

#mensright>div>div:nth-child(2)>p:nth-child(6){
    font-size: 14px;
    color: rgb(203, 7, 7);
    margin-top: 10px;
}




